{%extends 'base.html'%}

{% block title %}
	My Profile
{% endblock title %}

{% block content %}

	
	<!--MODAL FOR PROFILE UPDATE-->
	<div class="ui modal mymodal">
		<i class="close icon"></i>
		<div class="header">
			Update your profile
		</div>
		<div class="image content">
			<div class="ui medium image">
				<img src={{profile_obj.avatar.url}}>
			</div>
			<div class="description">
			<div class="ui header">Provide new information here.</div>
				<!--UPDATE PROFILE FORM-->
				<form action = "" method = "POST" class='ui form' enctype='multipart/form-data'>
					{% csrf_token %}
					{{form.as_p}}
			</div>
		</div>
		<div class="actions">
			<button type = 'submit' class="ui positive right labeled icon button">
			Update
			<i class="checkmark icon"></i>
			</button>
			</form>
		</div>
	</div>

	<!--MODAL FOR PROFILE DISPLAY-->
	<div class="ui segment">
		<!--ALERTS-->
		{% if confirm %}
			<div class="ui green message">Your profile has been successfully updated.</div>
		{% endif %}
		{% if failed_to_update %}
			<div class="ui red message">Failed to update. Try again!</div>
		{% endif %}

		<!--OTHER PROFILE DATA-->
		<div class="ui grid">
			<div class='row'>
				<div class='four wide column'>
					<img class="ui medium rounded image" src={{profile_obj.avatar.url}}>
				</div>
				<div class="twelve wide column">
					<table class="ui table">
						<tbody>
							<tr>
								<td class = 'bold-label' >Username</td>
								<td>{{profile_obj.user}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>First name</td>
								<td>{{profile_obj.first_name}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Last name</td>
								<td>{{profile_obj.last_name}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Bio</td>
								<td>{{profile_obj.bio}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Number of friends</td>
								<td>{{profile_obj.get_total_number_of_friends}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Friends List</td>
								<td>
									<ul>
										{% for friend in profile_obj.get_friends %}
											<li>{{friend}}</li>
										{% endfor %}
									</ul>
								</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Number of Posts</td>
								<td>{{profile_obj.get_posts_no}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Number of Likes given</td>
								<td>{{profile_obj.get_likes_given_no}}</td>
							</tr>
							<tr>
								<td class = 'bold-label'>Number of Likes received</td>
								<td>{{profile_obj.get_likes_received_no}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!--Update Button-->
	<div class="row mt-40">
		<button class='ui secondary button' id='profile-update-model-btn'>Update Profile  
		<i class="pencil icon"></i>
		</button>
	</div>

{% endblock content %}
