body {
    background: #F8F8F8 !important;
}

.nav {
    border-radius: 0px !important;
    background-color: #043E74 !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.bold-label {
    font-weight: bolder;
}

img.ui.medium.rounded.image {
    display: block;
    max-width: 190px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px solid #043E74;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button.ui.secondary.button {
    position: absolute !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.ui.segment {
    margin-top: 20px !important;
    border: 3px solid #043E74 !important;
}

.pencil.icon {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

.b-delete {
    background-color: rgb(244, 82, 82) !important;
}

.b-update {
    background-color: rgb(78, 211, 78) !important;
}

.comment-box {
    display: none;
}